.headerContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg {
  background-image: url(../../assets/shadowlandsimg.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
