.bg {
  background-image: url(../../assets/shadowlandsimg.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-link {
  font-size: 32px;
  color: rgb(209, 197, 33) !important;
}
